@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}









.visually-hidden{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

